@import url("../../common-styles/css-reset.css");
@import url("../../common-styles/custom-values.css");
@import url("../../common-styles/website-style.css");

main {
    color: var(--dark-color);

    width: 1014px;
    margin: auto;

    display: flex;
    gap: 122px;

    margin: 60px auto 60px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 24px;
}

.contact-item img {
    width: 100px;
    height: 100px;
}

.contact-item div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item h1 {
    font-family: "Barlow Condensed";
    font-size: 26px;
    font-weight: bold;
}

.contact-item p, .form-container label {
    font-family: "Montserrat";
    font-size: 18px;
}

.form-container {
    width: 484px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form-container div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-container h1 {
    font-family: "Barlow Condensed";
    font-size: 24px;
    font-weight: bold;
}

.form-container input {
    background-color: var(--light-color);
    color: var(--dark-color);
    height: 34px;

    font-family: "Montserrat";
    font-size: 16px;

    border-color: var(--dark-color);
}

.form-container textarea {
    color: var(--dark-color);
    background-color: var(--light-color);
    height: 150px;
    resize: none;

    font-family: "Montserrat";
    font-size: 16px;

    border-color: var(--dark-color);
}

.form-container button {
    width: 216px;
    height: 34px;

    font-family: "Montserrat";
    font-size: 18px;

    background-color: var(--lightest-blue);
    color: var(--dark-color);
    border-color: var(--dark-color);

    margin: 12px auto 0px;
}
