@import url("../../common-styles/css-reset.css");
@import url("../../common-styles/custom-values.css");
@import url("../../common-styles/website-style.css");

main {
    color: var(--dark-color);

    max-width: 72%;
    margin: clamp(40px, 5.55vh, 60px) auto clamp(40px, 5.55vh, 60px);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px;
}

.contact-container {
    width: clamp(320px, 25.2vw, 484px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.contact-item a {
    color: var(--dark-blue);
}

.contact-item {
    display: flex;
    flex-direction: column;
    gap: clamp(6px, 1.25vw, 14px);
}

.contact-item img {
    width: clamp(50px, 5.2vw, 100px);
    height: clamp(50px, 5.2vw, 100px);
}

.contact-item div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: min(1vw, 20px);
}

.contact-item h1 {
    font-family: "Barlow Condensed";
    font-size: 24px;
    font-weight: bold;
}

.contact-item p {
    font-family: "Montserrat";
    font-size: clamp(15px, 1vw, 18px);
}

.form-container label {
    font-family: "Montserrat";
    font-size: 18px;
}

.form-container {
    width: clamp(320px, 25.2vw, 484px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form-container div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-container h1 {
    font-family: "Barlow Condensed";
    font-size: 24px;
    font-weight: bold;
}

.form-container input {
    background-color: var(--light-color);
    color: var(--dark-color);
    height: 34px;

    font-family: "Montserrat";
    font-size: 16px;

    border-color: var(--dark-color);
}

.form-container textarea {
    color: var(--dark-color);
    background-color: var(--light-color);
    height: 150px;
    resize: none;

    font-family: "Montserrat";
    font-size: 16px;

    border-color: var(--dark-color);
}

.form-container button {
    width: 216px;
    height: 34px;

    font-family: "Montserrat";
    font-size: 18px;

    background-color: var(--lightest-blue);
    color: var(--dark-color);
    border-color: var(--dark-color);

    margin: 12px auto 0px;
}
