nav {
    background-color: var(--darkest-blue);

    font-family: "Barlow Condensed";
    color: var(--lightest-blue);
    font-size: 22px;

    padding-top: 15px;
    padding-bottom: 23px;
}

.nav-menu {
    width: 1020px;
    margin: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}

.nav-menu div a {
    display: flex;
    gap: 10px;
}

.active-navigation {
    color: var(--darkest-blue);
    background-color: var(--lightest-blue);
    padding: 5px 30px 8px;
    border-radius: 15px;
}

body {
    background-color: var(--light-color);

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    box-sizing: border-box;
    padding: 13px 0px;
    
    background-color: var(--darkest-blue);
    color: var(--lightest-blue);

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: "Barlow Condensed";
    font-size: 14px;
}

footer li:not(:last-child) {
    margin-bottom: 8px;
}

footer li a {
    display: flex;
    align-items: center;
    gap: 10px;
}
