nav {
    background-color: var(--darkest-blue);
    width: 100%;
    position: fixed;
    top: 0;

    padding: 15px 0px 15px;

    z-index: 1;
}

.nav-menu {
    max-width: 72%;
    margin: auto;

    font-family: "Barlow Condensed";
    color: var(--light-blue);
    font-size: clamp(16px, 2.3vw, 22px);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.nav-menu img {
    width: clamp(17px, 1.5vw, 24px);
}

.nav-menu div {
    margin-bottom: 10px;
}

.nav-menu div a {
    display: flex;
    gap: 0.5vw;
}

.active-navigation {
    color: var(--darkest-blue);
    background-color: var(--lightest-blue);

    padding: max(5px, 0.5vh) min(30px, 1.5vw) max(5px, 0.5vh);

    border-radius: 15px;
}

body {
    background-color: var(--light-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
}

main {
    margin: 130px auto 60px;
}

footer {
    padding: 13px 0px;
    
    background-color: var(--darkest-blue);
    color: var(--lightest-blue);
}

footer div {
    max-width: 72%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Barlow Condensed";
    font-size: 14px;
}

footer li:not(:last-child) {
    margin-bottom: 8px;
}

footer li a {
    display: flex;
    align-items: center;
    gap: 4px;
}
