@import url("../../common-styles/css-reset.css");
@import url("../../common-styles/custom-values.css");
@import url("../../common-styles/website-style.css");

main {
    color: var(--dark-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;

    margin: 60px auto 60px;
}

main h1 {
    font-family: "Barlow Condensed";
    font-size: 22px;
    font-weight: bold;
}

main h2, main p, main a {
    font-family: "Montserrat";
    font-size: 18px;
}

.education-item img {
    border: 6px solid var(--lightest-blue);
    border-radius: 15px;
    padding: 6px;
    width: 96px;
    height: 96px;
}

.education-item a {
    color: var(--dark-blue);
}

.education-item {
    width: 580px;
    display: flex;
    align-items: center;
    gap: 22px;
}

.education-item > div {
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education-info {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.education-info div {
    display: flex;
    justify-content: space-between;
}
