@import url("../../common-styles/css-reset.css");
@import url("../../common-styles/custom-values.css");
@import url("../../common-styles/website-style.css");

main {
    color: var(--dark-color);

    max-width: 72%;
    margin: min(5.55vh, 60px) auto min(5.55vh, 60px);

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 70px;
}

main h1 {
    font-family: "Barlow Condensed";
    font-size: 20px;
    font-weight: bold;
}

main h2, main p, main a {
    font-family: "Montserrat";
    font-size: 18px;
}

.education-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    gap: 10px;
}

.education-item img {
    border: 6px solid var(--lightest-blue);
    border-radius: 15px;
    padding: 6px;
    width: 96px;
    height: 96px;
}

.education-item a {
    color: var(--dark-blue);
}

.education-item > div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.education-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    line-height: 22px;
}
