@import url("./common-styles/css-reset.css");
@import url("./common-styles/custom-values.css");
@import url("./common-styles/website-style.css");

main {
    color: var(--dark-color);

    max-width: 72%;
    margin: min(5.55vh, 60px) auto min(5.55vh, 60px);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

main img {
    width: clamp(280px, 33.85vw, 600px);
    height: clamp(280px, 33.85vw, 600px);
}

main div {
    display: flex;
    flex-direction: column;
    width: clamp(280px, 33.85vw, 600px);
    gap: 20px;
}

main h1 {
    font-family: "Barlow Condensed";
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
}

main p {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 22px;
}
