@import url("css-reset.css");
@import url("fonts.css");

:root {
    --lightest-blue: #ABD1FF;
    --light-blue: #8DC7FF;

    --dark-blue: #004A8E;
    --darkest-blue: #00326D;

    --light-color: #EEEEFF;
    --dark-color: #112233;
}

body {
    background-color: var(--light-color);
}

main img {
    width: 440px;
    height: 440px;
}

main h1 {
    font-family: "Barlow Condensed";
    font-size: 26px;
}

main p {
    font-family: "Montserrat";
    font-size: 14px;
}

footer {
    box-sizing: border-box;
    padding: 13px 0px;
    
    background-color: var(--darkest-blue);
    color: var(--lightest-blue);

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: "Barlow Condensed";
    font-size: 14px;
}

footer li:not(:last-child) {
    margin-bottom: 8px;
}

footer li a {
    display: flex;
    align-items: center;
    gap: 10px;
}