@import url("../../common-styles/css-reset.css");
@import url("../../common-styles/custom-values.css");
@import url("../../common-styles/website-style.css");

main {
    color: var(--dark-color);

    max-width: 72%;
    margin: clamp(40px, 5.55vh, 60px) auto clamp(40px, 5.55vh, 60px);
}

.project-container {
    display: flex;
    flex-direction: column;

    gap: 40px;
}

.project-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-item video, .project-item img {
    width: clamp(200px, 16.6vw, 320px);
    aspect-ratio: 16 / 9;

    border: 6px solid var(--lightest-blue);
    border-radius: 15px;
    padding: 10px;
}

.project-item h1 {
    font-family: "Barlow Condensed";
    font-size: 24px;
    font-weight: bold;
}

.project-info a {
    font-family: "Montserrat";
    font-size: 14px;
    
    color: var(--dark-blue);
}

.project-item > div {
    display: flex;
    gap: 10px;
}

.project-info {
    width: 50%;

    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 10px;
}

.project-info p {
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 22px;
}

.project-tech {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.project-tech h2 {
    font-family: "Barlow Condensed";
    font-size: 20px;
    font-weight: bold;
}

.project-tech li {
    font-family: "Montserrat";
    margin-bottom: 6px;
}

.project-tech a {
    font-size: 14px;
    color: var(--dark-blue);
}

@media only screen and (max-width: 933px) {
    .project-item {
        align-items: center;
    }

    .project-item > div {
        align-items: center;
        flex-direction: column;
    }

    .project-info a {
        text-align: center;
        line-height: 18px;
    }

    .project-info, .project-tech {
        width: 80%;
    }

    .project-tech {
        align-items: center;
    }
}